.signonContent{
  ion-item{
    ion-icon{
      margin-top: 20px;
    }
  }
  .forgetPassDiv{
    text-align: center;
    margin-top: 18px;
  }
  .btnDiv{
    text-align: center;
    ion-button{
      margin-top: 40px;
      width: 230px;
      height: 40px;
      p{
        font-size: 18px;
      }
    }
  }
  .vertiItem {
    margin-top: 8px;

    ion-button {
      margin-right: 50px;
      margin-top: 5px;
      height: 35px;
      width: 110px;
    }
    p{
      font-size: 14px;
    }
  }
}